
    .user_card {
        height: 400px;
        width: 350px;
        background: #dc3545;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    .brand_logo_container .brand_logo_container  img{
        width: 100%;
        height: 100%;
    }
    .brand_logo_container {
        position: absolute;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        margin-top: 80px;
    }
    .brand_logo{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
   .brand_logo img{
        width: 100%;
        height: 100%;
    }
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 100%;
        background: #f39c12;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;      
    }
    .logo_btn:hover{
        cursor: pointer;
        border: 1px solid white;
    }

    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #f39c12;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }





.row{
    list-style-type: none;
}
ul li {
 margin-top: 5px;
}

.fixed{
    position: relative;
}
.box:hover{
    border: 1px solid blue;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.widget-user .widget-user-image>img
{
    width: 110px;
    margin-bottom: 5px;
}

.widget-user .widget-user-image>img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    widows: 500px;
    cursor: pointer;
}
.img1 {    
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.loading{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
}
